extends layout

block content
  h1= title
  p This Page Will Handle the #{title}
  form(id = 'fantasyInfo', name = 'fantasyInfo', action = '/draft', method = 'post')
    div
      label(for = 'numTeams') Number of Teams
        input(id = 'numTeams', name = 'numTeams', type = 'number', min = '0', value = '10' required)

      label(for = 'numQuarterbacks') Number of Quarterbacks per Team
        input(id = 'numQuarterbacks', name = 'numQuarterbacks', type = 'number', min = '0', value = '1' required)

      label(for = 'numRunningBacks') Number of Running Backs per Team
        input(id = 'numRunningBacks', name = 'numRunningBacks', type = 'number', min = '0', value = '2' required)

      label(for = 'numWideReceivers') Number of Wide Receivers per Team
        input(id = 'numWideReceivers', name = 'numWideReceivers', type = 'number', min = '0', value = '2' required)

      label(for = 'numTightEnds') Number of Tight Ends per Team
        input(id = 'numTightEnds', name = 'numTightEnds', type = 'number', min = '0', value = '1' required)

      label(for = 'numFlex') Number of Flex Players per Team
        input(id = 'numFlex', name = 'numFlex', type = 'number', min = '0', value = '1' required)

      label(for = 'numKickers') Number of Kickers per Team
        input(id = 'numKickers', name = 'numKickers', type = 'number', min = '0', value = '1' required)

      label(for = 'numDefense') Number of Defenses per Team
        input(id = 'numDefense', name = 'numDefense', type = 'number', min = '0', value = '1' required)
   
      label(for = 'numBench') Number of Bench Players per Team
        input(id = 'numBench', name = 'numBench', type = 'number', min = '0', value = '7' required)
    br

    div
      label(for = 'pointsPerPassingTD') Points per Passing TD
        input(id = 'pointsPerPassingTD', name = 'pointsPerPassingTD', type = 'number', step = '0.1', min = '0', value = '4' required)

      label(for = 'pointsLostPerInterceptionThrown') Points Lost per Interception Thrown
        input(id = 'pointsLostPerInterceptionThrown', name = 'pointsLostPerInterceptionThrown', type = 'number', step = '0.1', min = '0', value = '2' required)

      label(for = 'pointsLostPerSack') Points Lost per Sack Sustained
        input(id = 'pointsLostPerSack', name = 'pointsLostPerSack', type = 'number', step = '0.1', min = '0', value = '0' required)
      
      label(for = 'pointsPerPassingYard') Points Per Passing Yard
        input(id = 'pointsPerPassingYard', name = 'pointsPerPassingYard', type = 'number', step = '0.01', min = '0', value = '0.04' required)
    br

    div
      label(for = 'pointsPerRushingTD') Points Per Rushing TD
        input(id = 'pointsPerRushingTD', name = 'pointsPerRushingTD', type = 'number', step = '0.1', min = '0', value = '6' required)

      label(for = 'pointsPerRushingYard') Points per Rushing Yard
        input(id = 'pointsPerRushingYard', name = 'pointsPerRushingYard', type = 'number', step = '0.1', min = '0', value = '0.1' required)
    br

    div
      label(for = 'pointsPerReceivingTD') Points per Receiving TD
        input(id = 'pointsPerReceivingTD', name = 'pointsPerReceivingTD', type = 'number', step = '0.1', min = '0', value = '6' required)

      label(for = 'pointsPerReception') Points per Reception
        input(id = 'pointsPerReception', name = 'pointsPerReception', type = 'number', step = '0.01', min = '0', value = '0' required)
    
      label(for = 'pointsPerReceivingYard') Points per Receiving Yard
        input(id = 'pointsPerReceivingYard', name = 'pointsPerReceivingYard', type = 'number', step = '0.1', min = '0', value = '0.1' required)
    br

    div
      label(for = 'pointsPer2pt') Points per Two Point Conversion
        input(id = 'pointsPer2pt', name = 'pointsPer2pt', type = 'number', step = '0.1', min = '0', value = '2' required)

      label(for = 'pointsLostPerFumble') Points Lost per Fumble
        input(id = 'pointsLostPerFumble', name = 'pointsLostPerFumble', type = 'number', step = '0.1', min = '0', value = '2' required)
    br

    div
      label(for = 'fieldGoalZeroToThirtyNine') Points per Field Goal of 0-39 yards
        input(id = 'fieldGoalZeroToThirtyNine', name = 'fieldGoalZeroToThirtyNine', type = 'number', step = '0.1', min = '0', value = '3' required)

      label(for = 'fieldGoalFortyToFortyNine') Points per Field Goal of 40-49 yards
        input(id = 'fieldGoalFortyToFortyNine', name = 'fieldGoalFortyToFortyNine', type = 'number', step = '0.1', min = '0', value = '4' required)

      label(for = 'fieldGoalFiftyPlus') Points per Field Goal of 50+ yards
        input(id = 'fieldGoalFiftyPlus', name = 'fieldGoalFiftyPlus', type = 'number', step = '0.1', min = '0', value = '5' required)

      label(for = 'pointsPerPAT') Points per PAT
        input(id = 'pointsPerPAT', name = 'pointsPerPAT', type = 'number', step = '0.1', min = '0', value = '1' required)

      label(for = 'pointsLostPerMissedFG') Points Lost per Missed Field Goal or PAT
        input(id = 'pointsLostPerMissedFG', name = 'pointsLostPerMissedFG', type = 'number', step = '0.1', min = '0', value = '1' required)
    br

    div
      label(for = 'pointsPerReturnTD') Points per Return TD
        input(id = 'pointsPerReturnTD', name = 'pointsPerReturnTD', type = 'number', step = '0.1', min = '0', value = '6' required)

      label(for = 'pointsPerInterception') Points per Interception
        input(id = 'pointsPerInterception', name = 'pointsPerInterception', type = 'number', step = '0.1', min = '0', value = '2' required)

      label(for = 'pointsPerFumbleRecovery') Points per Interception
        input(id = 'pointsPerFumbleRecovery', name = 'pointsPerFumbleRecovery', type = 'number', step = '0.1', min = '0', value = '2' required)

      label(for = 'pointsPerBlockedKick') Points per Blocked Kick
        input(id = 'pointsPerBlockedKick', name = 'pointsPerBlockedKick', type = 'number', step = '0.1', min = '0', value = '2' required)

      label(for = 'pointsPerSafety') Points per Safety
        input(id = 'pointsPerSafety', name = 'pointsPerSafety', type = 'number', step = '0.1', min = '0', value = '2' required)

      label(for = 'pointsPerSack') Points per Sack
        input(id = 'pointsPerSack', name = 'pointsPerSack', type = 'number', step = '0.1', min = '0', value = '1' required)

      label(for = 'zeroPointsAllowed') Points for Allowing 0 Points
        input(id = 'zeroPointsAllowed', name = 'zeroPointsAllowed', type = 'number', step = '0.1', value = '5' required)

      label(for = 'oneToSixPointsAllowed') Points for Allowing 1-6Points
        input(id = 'oneToSixPointsAllowed', name = 'oneToSixPointsAllowed', type = 'number', step = '0.1', value = '4' required)

      label(for = 'sevenToThirteenPointsAllowed') Points for Allowing 7-13 Points
        input(id = 'sevenToThirteenPointsAllowed', name = 'sevenToThirteenPointsAllowed', type = 'number', step = '0.1', value = '3' required)

      label(for = 'fourteenToSeventeenPointsAllowed') Points for Allowing 14-17 Points
        input(id = 'fourteenToSeventeenPointsAllowed', name = 'fourteenToSeventeenPointsAllowed', type = 'number', step = '0.1', value = '1' required)

      label(for = 'eighteenToTwentySevenPointsAllowed') Points for Allowing 18-27 Points
        input(id = 'eighteenToTwentySevenPointsAllowed', name = 'eighteenToTwentySevenPointsAllowed', type = 'number', step = '0.1', value = '0' required)

      label(for = 'twentyEightToThirtyFourPointsAllowed') Points for Allowing 28-34 Points
        input(id = 'twentyEightToThirtyFourPointsAllowed', name = 'twentyEightToThirtyFourPointsAllowed', type = 'number', step = '0.1', value = '-1' required)

      label(for = 'thirtyFiveToFortyFivePointsAllowed') Points for Allowing 35-45 Points
        input(id = 'thirtyFiveToFortyFivePointsAllowed', name = 'thirtyFiveToFortyFivePointsAllowed', type = 'number', step = '0.1', value = '-3' required)

      label(for = 'fortyFivePlusPointsAllowed') Points for Allowing 45+ Points
        input(id = 'fortyFivePlusPointsAllowed', name = 'fortyFivePlusPointsAllowed', type = 'number', step = '0.1', value = '-5' required)

    input(id = 'submit', type = 'submit', value = 'Submit')