extends layout

block content
  h1= title
  p This Page Will Handle the #{title}
  form(id = 'fantasyInfo', action = '/draft', method = 'post')
    label(for = 'numTeams') Number of Teams
      input(id = 'numTeams', type = 'number')

    label(for = 'numQuarterbacks') Number of Quarterbacks per Team
      input(id = 'numQuarterbacks', type = 'number')

    label(for = 'numRunningBacks') Number of Running Backs per Team
      input(id = 'numRunningBacks', type = 'number')

    label(for = 'numWideReceivers') Number of Wide Receivers per Team
      input(id = 'numWideReceivers', type = 'number')

    label(for = 'numTightEnds') Number of Tight Ends per Team
      input(id = 'numTightEnds', type = 'number')

    label(for = 'numFlex') Number of Flex Players per Team
      input(id = 'numFlex', type = 'number')

    label(for = 'numKickers') Number of Kickers per Team
      input(id = 'numKickers', type = 'number')

    label(for = 'numDefense') Number of Defenses per Team
      input(id = 'numDefense', type = 'number')
   
    label(for = 'numBench') Number of Bench Players per Team
      input(id = 'numBench', type = 'number')
    
    br
    br

    label(for = 'pointsPerPassingTD') Points per Passing TD
      input(id = 'pointsPerPassingTD', type = 'number')

    label(for = 'pointsPerInterceptionThrown') Points per Interception Thrown
      input(id = 'pointsPerInterceptionThrown', type = 'number')

    label(for = 'pointsPerSack') Points per Sack Sustained
      input(id = 'pointsPerSack', type = 'number')
      
    label(for = 'pointsPerPassingYard') Points Per Passing Yard
      input(id = 'pointsPerPassingYard', type = number)
    
    label(for = 'pointsPerRushingTD') Points Per Rushing TD
      input(id = 'pointsPerRushingTD', type = 'number')

    label(for = 'pointsPerRushingYard') Points per Rushing TD
      input(id = 'numBench', type = 'number')

    label(for = 'pointsPerReceivingTD') Points per Receiving TD
      input(id = 'pointsPerReceivingTD', type = 'number')

    label(for = 'pointsPerReception') Points per Reception
      input(id = 'pointsPerReception', type = 'number')
    
    label(for = 'pointsPerReceivingYard') Points per Receiving Yard
      input(id = 'pointsPerReceivingYard', type = 'number')

    label(for = 'pointsPer2pt') Points per Two Point Conversion
      input(id = 'pointsPer2pt', type = 'number')

    label(for = 'pointsPerFumble') Points per Fumble
      input(id = 'pointsPerFumble', type = 'number')

    input(id = 'submit', type = 'submit', value = 'Submit')