doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    .navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Bay State Fantasy
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/draft') Draft
          ul.nav.navbar-nav.navbar-right
            li
              a(href='http://www.mit.edu/~chumbley/') Chums
            li
              a(href='/') Karson
    block content
